:root {
  --primary-blue: #074176;
  --primary-gray-dark: #343a40;
  --secondary-gray-dark: #495057;
  --primary-gray-light: #868e96;
}

body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Saira Extra Condensed", serif;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-gray-dark);
}

p {
  font-family: "Saira Extra Condensed", serif;
  font-weight: 400;
  color: var(--primary-gray-light);
  font-size: 22px;
}

.entire-page-grid {
  border: 1px solid yellow;
  display: grid;
  grid-template-columns: 250px auto;
}

.side-navbar {
  border: 1px solid blue;
  background-color: red;
  /* background-color: var(--primary-blue); */
}

.side-nav__center-grid {
  position: fixed;
  top: 25%;
  left: 80px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: repeat(7, 35px);
}

.horizontal-navbar {
  display: none;
}

.right-conten__about {
  border-bottom: 1px solid red;
}

.right-conten__about-grid {
  /* the reason that i added this is to center the content inside the div from top and bottom also not just to center from right and left */
  display: grid;
  justify-content: center;
  align-items: center;

  /* i have to give it a hight or it will not work and i have to give it a hight of 100vh but if there is too many content then the centring will not work, also the centering will be affected by the size of the device since i give it a height of vh so if there is a lot of content and the we are in a mobile device the center will not work because we are in a mobile device and the 100vh for it is different from the 100vh of the desktop*/
  min-height: 100vh;

  margin-left: 5%;
  margin-right: 5%;

  margin-bottom: 50px;

  border: 1px solid blue;
}

.right-conten__about-name {
  font-size: 6rem;
  line-height: 5.5rem;
  margin: 0px;
}

.right-conten__about-family-name {
  color: var(--primary-blue);
}

.right-conten__about-address {
  text-transform: uppercase;
  font-weight: 500;
  /* font-family: "Saira Extra Condensed", serif; */
  font-size: 1.35rem;
  color: var(--primary-gray-light);
  margin: 0px;
}

.right-conten__about-email {
  text-transform: none;
  color: var(--primary-blue);
}

.right-conten__about-summary {
  margin: 40px 0px;
}

.right-conten__about-frameworks-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
}

.fa-github {
  font-size: 1.75rem;
  padding: 12px;
  background-color: var(--secondary-gray-dark);
  border-radius: 50%;
}

.fa-github:hover {
  background-color: rgb(22, 27, 34);
}

.fa-linkedin-in {
  padding: 12px;
  background-color: var(--secondary-gray-dark);
  border-radius: 50%;
  font-size: 1.75rem;
  color: white;
}

.fa-linkedin-in:hover {
  background-color: rgb(10, 102, 194);
}

.right-conten__experience {
  /* border-bottom: 1px solid #dee2e6; */
  border-bottom: 1px solid red;
}

.right-conten__experience-grid {
  /* the reason that i added this is to center the content inside the div from top and bottom also not just to center from right and left */
  display: grid;
  align-items: center;
  /* we can not add justify-content inside the grid or it will override the justify-content of the flex inside it */

  /* i have to give it a hight or it will not work and i have to give it a hight of 100vh but if there is too many content then the centring will not work, also the centering will be affected by the size of the device since i give it a height of vh so if there is a lot of content and the we are in a mobile device the center will not work because we are in a mobile device and the 100vh for it is different from the 100vh of the desktop*/
  min-height: 100vh;

  margin-left: 5%;
  margin-right: 5%;

  margin-top: 50px;
  margin-bottom: 50px;

  border: 1px solid blue;
}

.right-conten__experience-title {
  font-size: 3.5rem;
  margin-top: 0px;
}

.right-conten__job-flex {
  display: flex;
  justify-content: space-between;
}

.right-conten__job-title {
  font-size: 1.75rem;
  margin: 0px 0px;
}

.right-conten__company-name {
  font-size: 1.35rem;
  color: var(--primary-gray-light);
  margin: 0px 0px;
}

.right-conten__working-interval {
  display: flex;
  justify-content: flex-end;
  margin: 0px 0px;

  min-width: 250px;
  font-size: 1.35rem;
  color: var(--primary-blue);
}

.right-conten__education {
  border-bottom: 1px solid red;
  /* border-bottom: 1px solid #dee2e6; */
}

.right-conten__education-grid {
  /* the reason that i added this is to center the content inside the div from top and bottom also not just to center from right and left */
  display: grid;
  align-items: center;
  /* we can not add justify-content inside the grid or it will override the justify-content of the flex inside it */

  /* i have to give it a hight or it will not work and i have to give it a hight of 100vh but if there is too many content then the centring will not work, also the centering will be affected by the size of the device since i give it a height of vh so if there is a lot of content and the we are in a mobile device the center will not work because we are in a mobile device and the 100vh for it is different from the 100vh of the desktop*/
  min-height: 100vh;

  margin-left: 5%;
  margin-right: 5%;

  border: 1px solid blue;
}

.right-conten__education-title {
  font-size: 3.5rem;
}

.right-conten__skills {
  height: 100vh;
  /* border: 1px solid green; */
}

.right-conten__education-degree-flex {
  display: flex;
  justify-content: space-between;
}

.right-conten__education-university-name {
  font-size: 1.75rem;
  color: var(--primary-gray-dark);
  margin: 0px 0px;
}

.right-conten__education-degree-type {
  font-size: 1.35rem;
  color: var(--primary-gray-light);
  margin: 0px 0px;
}

.right-conten__education-GPA {
  font-size: 1.35rem;
  color: var(--primary-gray-light);
  /* margin: 0px 0px; */
}

.right-conten__education-year-graduation {
  align-self: flex-start;

  font-size: 1.25rem;
  color: var(--primary-blue);
}

.right-conten__projects {
  height: 100vh;
  border: 1px solid green;

  border-bottom: 1px solid #dee2e6;
}

.right-conten__certifications {
  height: 100vh;
  border: 1px solid green;

  border-bottom: 1px solid #dee2e6;
}

@media all and (max-width: 1000px) {
  .entire-page-grid {
    display: block;
  }

  .horizontal-navbar {
    display: block;
  }

  .side-navbar {
    display: none;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  /* this is for the horizontal navbar and we put it inside the media query because it will only appear in the mobile mode */

  .nav-horizontal__center-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0063d1;
    position: fixed; /* this is to make it fixed on the top of the screen */
    top: 0;
    width: 100%;
  }

  .horizontal-navbar a {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .horizontal-navbar .active {
    background-color: #0d1117;
  }

  .nav-horizontal__bars-icon {
    /* padding-right: 20px; */
    cursor: pointer;
  }

  .hide {
    display: none;
  }

  .nav-horizontal__drop-down-content {
    position: fixed;
    width: 100%;
    top: 28px; /* this is the space between the links on drop-down on the mobile mode and the main navbar */
    background-color: #434e59;
  }

  .nav-horizontal__drop-down-content a {
    display: block;
    text-align: left;
    padding: 16px 0; /* this is to put a space for the drop-down from top and bottom for the links in mobile mode */
  }

  .nav-horizontal__drop-down-content a:hover:not(.active) {
    background-color: #023369;
  }

  .push-down {
    margin-bottom: 50px;
  }
}

@media all and (max-width: 800px) {
  .right-conten__job-flex {
    flex-direction: column;
  }

  .right-conten__working-interval {
    display: block;
  }
}

@media all and (max-width: 700px) {
  .right-conten__education-degree-flex {
    flex-direction: column;
  }
}
